# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entorno virtual
.venv/
venv/
ENV/
env/

# Gráficos generados
*.png

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Archivos de configuración local
*.log
